.body-section{
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
   
    font-family: "Roboto", sans-serif;
}

.main-section{

    width: 70%;
    max-height: 100vh;
    padding: 40px 20px;
    border-radius: 15px;
     background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);



background: rgba(255, 255, 255, 0.32);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

border: none;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.domanda{
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  
}
.list-options{
    
    list-style-type: none;
    text-align: center;  
     
    
}


.optionelement{
  background-color: #fff;
  width: 70%;
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 20px;
}

.option-correct{
  background-color: #70e000;
}
.option-wrong{
  background-color: red;
   animation: wobble 0.6s;
}

@keyframes wobble {
  0%, 100% {
    transform: translateX(0%) rotate(0deg);
  }
  10% {
    transform: translateX(-3%) rotate(-0.8deg);
  }
  30% {
    transform: translateX(2%) rotate(0.6deg);
  }
  45% {
    transform: translateX(-1.5%) rotate(-0.4deg);
  }
  60% {
    transform: translateX(1%) rotate(0.2deg);
  }
  75% {
    transform: translateX(-0.5%) rotate(-0.1deg);
  }
}


.end-section{
  
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  
}
.nextbtn{
  width: 30%;
  padding: 18px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  
}


.image-container{
  
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  height: auto;
  

}
.image{
  width:auto;
 max-height: 320px;
  
  
}

.result-section{
  
  text-align: center;
   font-size: 25px;
   
}


.Restart-btn{
  font-size: 24px;
font-family: "Roboto", sans-serif;
font-weight: 600;
padding: 15px 70px;
border-radius: 20px;
border: none;
outline: none;
cursor: pointer;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-top: 30px;
}

.Restart-btn:hover{
  background-color: #315cfd;
  color: #fff;
  
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}